/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000000}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}input,button,textarea,select{font-size:100%}body{background:#fff;color:#444;font-size:12px}h4{font-size:28px}h5{font-size:18px}h6{font-size:14px}p{margin:0 0 1em 0;line-height:22px}td,th{vertical-align:top;padding:0;margin:0;border:0}b,strong{font-weight:bold}input,textarea{border:none;padding:5px 8px;font-size:12px}button{border:none;padding:5px 8px;font-size:12px;cursor:pointer}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{background:#fff;color:#444;font-size:12px}a{text-decoration:none;outline:none}p{margin:0 0 1em 0;line-height:22px}td,th{vertical-align:top;padding:0;margin:0;border:0}b,strong{font-weight:bold}input,textarea{padding:5px 8px;font-size:12px}button{border:none;padding:5px 8px;font-size:12px;cursor:pointer}

/* Layout */
body{color:#444;font:normal 12px/20px "Lucida Sans Unicode","Lucida Grande",sans-serif;background:#F3F1DE}
input, textarea{border:1px #ccc solid;background:url(/admin/images/input.png) top left repeat-x;}
input[type=submit], .content .view-all, .checkTotals{background:#444;color:#fff;border:none;padding:5px 25px;float:right;border:none;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;cursor:pointer;font-size:12px;line-height:17px}
input[type=submit]:hover, .content .view-all:hover, .checkTotals:hover{background:#777}
input[type=checkbox], input[type=radio]{margin:0 5px 0 10px}
textarea{width:300px;height:100px}
.wrapper{margin:0}
.nav{overflow:hidden;height:39px;background:#444}
.nav li{float:left;padding:6px 4px 0}
.nav li a{color:#e3e3e3;text-decoration:none;display:block;padding:5px 20px 5px;font:12px Verdana;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;text-shadow:0 1px 1px #000}
.nav li a:hover, .nav li a.page-highlight:hover{background:#666;color:#fff}
.nav li a.page-highlight{background:#999;color:#fff}
.nav li a.logout{color:#b0b0b0;background:#000}
.nav li a.logout:hover{background:#a70000;color:#fff}
h3{margin:0;padding:10px 10px 7px;background:#F3F2EB;color:#444;font:15px Helvetica;border-bottom:1px #ccc solid}
h3 span{color:#777;font:12px Helvetica}
.main{padding:20px}
.content{padding:35px;background:#fff;border:1px #ccc solid;overflow:hidden}
.content h2{margin:0 0 15px;border-bottom:1px #eee solid;padding:0 0 5px;font:bold 23px Helvetica;color:#1c57b8}
.content h4{margin:24px 0 0;font:bold 18px Helvetica;color:#8B1C11}
.content select{position:relative;top:0;}
.content table{width:100%;margin:10px 0}
.content table tr:hover{background:#FFFDD1}
.content table td, .content table th{padding:3px 6px;border:1px #eee solid}
.content table th{font-weight:bold}
.content .table-head{background:#EEF4FE}
.content .table-head strong{color:#545e6f;font:bold 15px Helvetica;display:block;padding:6px 0 2px}
.content .add-new{background:url(/admin/images/add.png) #5d7a65 8px 8px no-repeat;margin:10px 0 0;float:right;display:block;padding:8px 0;text-align:center;width:200px;color:#fff;font:bold 14px "Lucida Sans Unicode","Lucida Grande",sans-serif;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;text-shadow:0 1px 1px #000}
.content .add-new:hover{background:url(/admin/images/add.png) #74947d 8px 8px no-repeat}
.content .edit{font-size:11px;display:block;color:#1C57B8;background:url(/admin/images/page_white_edit.png) top left no-repeat;text-indent:20px}
.content .delete{font-size:11px;display:block;color:#1C57B8;background:url(/admin/images/page_white_delete.png) top left no-repeat;text-indent:20px}
.content .edit:hover, .content .delete:hover{text-decoration:underline}
.content .aed-width{width:45px}
.content ul li a{background:#F8F8F8;border:1px solid #EEEEEE;color:#1C57B8;display:block;margin:4px 0;padding:1px 0;text-align:center;}
.content ul li a:hover{background:#eee}
.content .dashboard tr:hover{background:none}
.monthly th{text-align:center;font-weight:bold;color:#1C57B8}
.monthly td{font-size:11px;color:#666;text-align:center;vertical-align:middle}
.monthly input, .monthly textarea{width:100px;height:15px;font-size:11px;padding:3px 4px}
.monthly select{left:0}
#addnewmonthlyrow, #addnewcontact, #addnew{display:block;background:url(/admin/images/add.png) #5d7a65 6px 5px no-repeat;color:#fff;padding:4px 15px 2px 25px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;line-height:20px;font-size:11px}
#addnewmonthlyrow:hover, #addnewcontact:hover, #addnew:hover{background:url(/admin/images/add.png) #74947d 6px 5px no-repeat}
.remove{font-size:11px;display:block;color:#1C57B8;background:url(/admin/images/page_white_delete.png) top left no-repeat;text-indent:20px}
#salesreport input[type=text]{width:91%;text-align:center;padding:5px 0;font-size:11px}
#salesreport .td-center{text-align:center;vertical-align:middle}
#salesreport{font-size:11px}
.checkTotals{float:right;margin:0 10px 0 0}

/* Login */
.login{width:100%;margin:100px 0 0 0;z-index:2;position:relative}
.login h2{margin:0 0 15px;border-bottom:1px #eee solid;padding:0 0 5px;font:bold 23px Helvetica;color:#1c57b8}
.login td{padding:3px;vertical-align:middle}
.log-wrap{background:#fff;padding:40px;width:235px;-moz-box-shadow:0 0 8px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 8px 3px rgba(0, 0, 0, 0.2);}
.log-wrap label{display:none}
.bkg-overlay{background:#444;height:173px;width:100%;position:absolute;top:0;left:0;z-index:1}
#ie7 .login, #ie6 .login{position:relative;top:100px;left:0}

/* Added by Jonathan */
.error{color:red}
p.flash{color:red}
label{font-weight:bold}